#thietkewebsite h4 i{
    margin-right: 5px;
    color: green;
} 

#thietkewebsite h4{
    font-weight: 600;
}
#thietkewebsite p{
    font-size: 20px!important;
    line-height: 2;
}

#thietkewebsite h3{
    font-weight: 700;
}
